.titulo_Formacoes{
    background-color: var(--preto);
    height: 80px;
    max-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    
}

.titulo_Formacoes h1{
    color: var(--branco);
    text-align: center;
    font-size: 38px;
    z-index: 10;
    text-transform: uppercase;
    font-family: var(--cairo);
   
}


.formacoes{
    display: flex;
    background: linear-gradient( to bottom,
    rgb(0, 0, 0),
    rgb(0 0 0 / 0)
    ),url(https://cdna.artstation.com/p/assets/images/images/053/835/726/large/manuel-cr-livevisuals-2022-searchingforconnections-01-00031.jpg?1663145159);
    object-fit: cover;
    object-position:center ;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 5rem 0;
    flex-direction: column;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    background-attachment: fixed;
}




.formacoes p{
    color: var(--aliceBlue);
}

.instituicoes{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.instituicoes li img{
    width: 244px;
    height: 120px;
}

.instituicoes li a{
    text-decoration: none;
    color: var(--branco);
}

.cartao{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin: 1rem;
    width: 240px;
    height: 120px;
    padding: 8px;
    border-radius: 1rem;
    box-shadow: rgba(0,0,0, 0.25) 0px 25px 50px -12px;
    object-fit: contain;
    object-position: center;
    
}

.cartao.Uninter{
    transform: perspective(1500px) rotateY(15deg);
    transition:  1s ease 0s;
}

.cartao.Uninter:hover{
    transform: perspective(3000px) rotateY(5deg);
}

.cartao.Alura{
    transform: perspective(1500px) rotateY(15deg);
    transition:  1s ease 0s;
}

.cartao.Alura:hover{
    transform: perspective(3000px) rotateY(5deg);
}

.cartao.Senac{
    transform: perspective(1500px) rotateY(15deg);
    transition:  1s ease 0s;
}

.cartao.Senac:hover{
    transform: perspective(3000px) rotateY(5deg);
}

.cartao.OracleNext{
    transform: perspective(1500px) rotateY(15deg);
    transition:  1s ease 0s;
}

.cartao.OracleNext:hover{
    transform: perspective(3000px) rotateY(5deg);
}

.image-display{
    display: none;
}



@media  screen and (min-width:830px) {
    .instituicoes{
        flex-direction: row;
    }
}



@media screen and (min-width:950px){
    .instituicoes li{
        border-radius: 1vh;
        transition: 0.3s ease-in-out all;
        
    }

    .instituicoes li img{
        filter: invert(1) grayscale(100%) contrast(0.5);
    }
    
    .instituicoes li:hover img{
        filter: grayscale(0);
        
    }

    .instituicoes li:nth-child(1):hover{
        background-color: #0d3866;
    }

    .instituicoes li:nth-child(2):hover{
        background-color: #051933;
    }

    .instituicoes li:nth-child(3):hover{
        background-color: var(--branco);
    }

    .instituicoes li:nth-child(4):hover{
        background-color: #161513;
    }
    
    
    .instituicoes li a{
        display: none;
    }
    
    .cartao{
        box-shadow: var(--preto);
    }

    
    /* ------------------------ */
    .image-display{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        margin-top: 2rem ;
        transition: 0.3s ease-in-out;
        transition: opacity .6s ease-in-out,transform .6s ease-in-out;
    }
    
    
    .image-display img{
       width: 500px;
       height: 500px;
       object-fit: cover;
       mix-blend-mode: lighten;
       border-radius: 2rem 0 0 0;
        
    }

    /* .image-display:last-child img{
        mix-blend-mode: exclusion;
    } */
    
    .image-display .Informes {
        height: 500px;
        width: 500px;
        display: flex;
        flex-direction: column;
        backdrop-filter: blur(2px) saturate(180%);
        -webkit-backdrop-filter: blur(2px) saturate(180%);
        background-color: rgba(10, 13, 20, 0.75);
        padding: 2rem;
        border-radius: 0 0rem 2rem 0;
        border: 1px solid rgba(255, 255, 255, 0.125);
        
    }
    
    .image-display .Informes h1{
       color: var(--branco);
       font-family: var(--cairo);
       margin-bottom: 1rem;
       font-size: 35px;
    }

    .image-display .Informes p{
        color: var(--branco);
        font-family: var(--comfortaa);
        text-align: justify;
     }

    .informes-curso{
        margin-top: 2rem;
    }

    .informes-curso h2{
        color: var(--branco);
        font-family: var(--mitr);
    }

    
}
    

@media screen and (min-width:950px) and (max-width:1110px){
    .instituicoes li img{
        width: 200px;
    } 
}

@media screen and (min-width:1700px) {
    .instituicoes li img{
        width: calc(244px * 1.5);
        height: calc(120px * 1.5);
    }

    .image-display img{
        width: calc(500px * 1.5 );
        height: calc(500px * 1.5);
     }

     .image-display .Informes {
        width: calc(500px * 1.5 );
        height: calc(500px * 1.5);
    }
}
