.titulo_Formacoes{
    background-color: var(--preto);
    height: 80px;
    max-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.titulo_Formacoes h1{
    color: var(--branco);
    text-align: center;
    font-size: 38px;
    z-index: 10;
    text-transform: uppercase;
    font-family: var(--cairo);
   
}


.formacoes{
    display: flex;
    background: linear-gradient( to bottom,
    rgb(0, 0, 0),
    rgb(0 0 0 / 0)
    ),url(https://cdna.artstation.com/p/assets/images/images/053/835/726/large/manuel-cr-livevisuals-2022-searchingforconnections-01-00031.jpg?1663145159);
    object-fit: cover;
    object-position:center ;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 5rem 0;
    
}




.formacoes p{
    color: var(--aliceBlue);
}

.instituicoes{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.instituicoes li img{
    width: 244px;
    height: 120px;
}

.instituicoes li a{
    text-decoration: none;
    color: var(--branco);
}

.cartao{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin: 1rem;
    width: 240px;
    height: 120px;
    padding: 8px;
    border-radius: 1rem;
    box-shadow: rgba(0,0,0, 0.25) 0px 25px 50px -12px;
    object-fit: contain;
    object-position: center;
    
}

.cartao.Uninter{
    transform: perspective(1500px) rotateY(15deg);
    transition:  1s ease 0s;
}

.cartao.Uninter:hover{
    transform: perspective(3000px) rotateY(5deg);
}

.cartao.Alura{
    transform: perspective(1500px) rotateY(15deg);
    transition:  1s ease 0s;
}

.cartao.Alura:hover{
    transform: perspective(3000px) rotateY(5deg);
}

.cartao.Senac{
    transform: perspective(1500px) rotateY(15deg);
    transition:  1s ease 0s;
}

.cartao.Senac:hover{
    transform: perspective(3000px) rotateY(5deg);
}

.cartao.OracleNext{
    transform: perspective(1500px) rotateY(15deg);
    transition:  1s ease 0s;
}

.cartao.OracleNext:hover{
    transform: perspective(3000px) rotateY(5deg);
}



@media  screen and (min-width:830px) {
    .instituicoes{
        flex-direction: row;
    }
}

