.titulo_Projetos{
    background-color: var(--preto);
    height: 80px;
    max-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo_Projetos h1{
  color: var(--branco);
  text-align: center;
  font-size: 38px;
  z-index: 10;
  text-transform: uppercase;
  font-family: var(--cairo);
}


section.module.parallax-3{
    background: url(https://cdnb.artstation.com/p/assets/images/images/053/835/717/large/manuel-cr-livevisuals-2022-searchingforconnections-01-00016.jpg?1663145151);
    z-index: 10;
     
}

section.module.parallax-3 h1{
    color: var(--brancoMeioEscuro);
    text-align: center;
    font-size: 51px;
    z-index: 10;
    text-transform: uppercase;

}

.projeto_div{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


.projetos {
    width: 300px;
    height: 280px;
    padding: 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    border-radius: 8px;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 12;
    background-color: var(--preto);
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 15px ;
    margin-top: 15px;
  }
  
  .projetos * {
    transition: 0.3s ease all;
  }
  
  .projetos img {
    margin: 0;
    width: 300px;
    height: 224px;
    object-fit: cover;
    object-position: center;
    display: block;
  }
  
  .projetos h3 {
    margin: 0;
    padding: 12px 12px 48px;
    line-height: 32px;
    font-weight: 500;
    font-size: 20px;
    font-family: var(--vietnan-san-serif);
    font-weight: bold;
    color: var(--branco);
  }
  
  .projetos .overlay {
    display: block;
    padding: 8px 12px;
    color: var(--branco);
  }

  .projetos .overlay ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    color: var(--brancoMeioEscuro);
    
    
  }

  .projetos .overlay ul a{
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    border-radius: 20px;
    margin: 9px 0 0 1rem;
    justify-content: space-between;
    text-transform: uppercase;
    color: var(--branco);
    transition: 0.2s;
    font-family: var(--mitr);
    
  } 

  .projetos .overlay ul a:hover{
    text-decoration: none;
    transform: scale3d(15%);
    color: var(--branco);
    border-radius: 2px;
    padding: 3px;
    box-shadow:  5px 5px 0px rgb(255, 255, 255);
    top: -5px;
    left: -5px;
    border: 1px solid var(--branco);
  } 
      
  .projetos p {
    margin: 0;
    line-height: 1.5;
    
  }
  
  .projetos:hover img, .projetos:focus-within img {
    margin-top: -80px;
  }
  
  .projetos:hover h3, .projetos:focus-within h3 {
    padding: 8px 12px 0;
    
    
  }
