@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&family=Bungee&family=Comfortaa:wght@300&family=Mitr:wght@200&family=Racing+Sans+One&family=Ultra&display=swap');

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Cores */
:root{
    --preto:#000;
    --branco:#fff;  
    --quase-branco:#fcfcfc;
    --branco-creme:#fcfafa;
    --aliceBlue:aliceblue;
    --vermelho:#ff0000;
    --github:#fff;
    --linkedin:#0e76a8;
    --translucido: rgb(0, 0, 0);

    /* Textos */
    --brancoMeioEscuro:#ece7d5;
}


/* Fontes */
:root{
    --comfortaa: 'Comfortaa', cursive;
    --bunge:'Bungee', cursive;
    --racing-sans:'Racing Sans One', cursive;
    --vietnan-san-serif:'Be Vietnam Pro', sans-serif;
    --mitr:'Mitr', sans-serif;
    --ultra: 'Ultra', serif;

}

:target{
    scroll-margin-top: 2rem;
}

body{
    margin: 0;
    padding: 0;
    color: #242424;
    font-family: sans-serif;
    overflow-wrap: break-word;

}

h1,h2,h3,h4,h5,h6{
    font-weight: 900;
    color:  #000;
}



/* .main{
    display: block;
    background-color: white;

} */


section .module p{
    margin-bottom: 40px;

}

section .module:last-child{
    margin-bottom: 0;
}


/* section.module.content{
    padding: 40px 0;
    background: #d5ecda;
} */

section.module.parallax{
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    height: 100vh !important; */
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

section.module.parallax::after{
    content: "";
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 8;
    background: linear-gradient(to bottom, rgba(223, 23, 23, 0) 0, rgba(0,0,0,0) 40%, #000);
    
}

:any-link{
    text-decoration: none;
}

body::-webkit-scrollbar{
    width: 5px;
}

body::-webkit-scrollbar-track{
    background: #242424;
}

body::-webkit-scrollbar-thumb{
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    transition: 0.5s ease;
    
}

body::-webkit-scrollbar-thumb:hover{
    background-color: rgb(255, 255, 255);
   
    
}
















