.container{
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 6rem 0 3rem  0;
    text-decoration: none;
    
}

.container .links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
     
}     

.container .links a{
    color: #fff;
}

.rede{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
}

.iCon{
    width: 40px;
    height: 40px;
    margin: 1rem;
    filter: invert(1);  
    flex-direction: column;
}



/* .gitHub{ 
    background-color: blue;
    color: aquamarine;
}

.Linkedin{
    background-color: aqua;
}

.Instagram{
    background-color: chartreuse;
}

.Curriculo{
    background-color: darkorange;
} */


.resumo_sobre{
    margin: 3rem 0;
    text-align: center;
    padding: 0px 20px;
}

.resumo_sobre h1{
    font-size: larger;
    margin: 0 0 1pc 0;
    color: #fff;
   
}

/* .resumo_sobre p{

} */


@media screen and (min-width:640px) {
    .container{
        height: 100%;

        max-width: none;
        margin: 0 auto;
       
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: rgb(0, 0, 0);
        color: #fff;
       
        text-decoration: none;
        
        
        
    }
    .rede{
        padding: 0 2pc;
    }
}



@media screen and (max-width:640px){
    .container .links a{
        display: none;
    }

    
}














