.rodape {
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
    background-color: var(--preto);
    padding: 50px;
    max-height: 50px;
    
   
    
}


.rodape h5{
    color: var(--branco);
    font-size: 12px;
}