section.module.parallax-2{
    background-image: url(https://cdna.artstation.com/p/assets/images/images/053/835/682/large/manuel-cr-livevisuals-2022-searchingforconnections-01-00003.jpg?1663145109);
    object-fit: cover;
    object-position: center;
    display: flex;
    
}


section.module.parallax-2::after{
    transform: rotate(180deg);
    position: absolute;
    z-index: 8;
    background: linear-gradient(to bottom, rgba(223, 23, 23, 0) 0, rgba(0,0,0,0) 90%, #000);
 
}



section.module.parallax-2 .skills h1{
    color: #fff;
    text-align: center;
    font-size: 38px;
    z-index: 10;
    text-transform: uppercase;
    padding: 1pc 0;
    margin-top: 4rem;
    
}

/* aumenta depois o tamanho no navegador de pc */
section.module.parallax-2 .skills img{
    width: 44px;
    height: 44px;
    object-fit: cover;
    margin: 5px;
    justify-content: space-between; 
    

}

.skills{
   margin-bottom: 4rem;
   display: flex;
   flex-direction: column; 
}

.lista_de_skills{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 2pc 0;
    justify-content: space-evenly;
}


/* CERTIFICAÇÕES */


.tituloCertificao{
    color: #fff ;
    text-align: center;
    font-size: 38px;
    z-index: 10;
    text-transform: uppercase;
    padding: 1pc 0;
}

.div_certificacoes{
    display: flex;
    padding: 0 35px;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    z-index: 10;
    position: relative;
   
}

.material-symbols-outlined{
    top: 50%;
    padding: 8px;
    background-color: var(--branco);
    cursor: pointer;
    text-align: center;
    border-radius: 50%;
    font-size: 1.2rem;
    position: absolute;
    transform: translateY(-50%);
    transition: 0.5s ease all;
    font-weight: bold;
    border: 1px solid var(--preto);
}

.material-symbols-outlined:hover{
   background-color: var(--preto);
   color: var(--branco); 
   border: 1px solid var(--branco);
   font-weight: bold;
}

.material-symbols-outlined:first-child{
    left: 6px;
    display: none;
}   

.material-symbols-outlined:last-child{
    right: 6px;
}  

/* Overflow hidden para sumir com o restante dos itens que não cabem na tela */
.lista_de_certificacoes{
   white-space: nowrap;
   font-size: 0px;
   cursor: pointer;
   overflow: hidden;
   scroll-behavior: smooth;
}

.lista_de_certificacoes.mouseSeMovendo{
    cursor: grab;
    scroll-behavior: auto;
}

.lista_de_certificacoes.mouseSeMovendo img{
    pointer-events: none;
}

.lista_de_certificacoes img{
    width: calc(100%/3);
    height: 100%;
    object-fit: cover; 
    margin-left: 14px; 
}

.lista_de_certificacoes img:first-child{
    margin-left: 0px;
}



.certificacao{
    display: flex;
    flex-direction: column;
    
}




.certificacao .lista_de_certificacoes img{
    width: 24px;
    height: 24px;
   
     
}


@media screen and (min-width:760px) {
   
    section.module.parallax-2 .skills img{
        width: 70px;
        height: 70px;
        
        
      
    }
   
}

@media screen and (max-width:900px) {
    .lista_de_certificacoes img{
        width: calc(100%/2);
        
    }
}

@media screen and (max-width:660px) {
    .lista_de_certificacoes img{
        width:100%;
    }
}

