section.module.parallax-2{
    background-image: url("https://www.bungie.net/pubassets/pkgs/150/150154/GG_2021_Wallpaper_5.jpg");
    display: flex;
    
    
}

section.module.parallax-2 h1{
    color: #ece7d5;
    text-align: center;
    font-size: 38px;
    z-index: 10;
    text-transform: uppercase;
    padding: 1pc 0;
    background-color: black;

    
}

/* aumenta depois o tamanho no navegador de pc */
section.module.parallax-2 .skills img{
    width: 44px;
    height: 44px;
    object-fit: cover;
    margin: 6px;
    justify-content: space-between; 
  
}

.skills{
    background-color: aqua;
    margin-bottom: 4rem;
      
}


/* HOBBIES */
section.module.parallax-2  .hobbies h1{
    padding: 1pc;
    background-color: rebeccapurple;
}

section.module.parallax-2 .hobbies img{
    width: 44px;
    height: 44px;
    object-fit: cover;
    margin: 6px;
    justify-content: space-between; 
  
}

.hobbies{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    
}

.lista_de_hobbies{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 2pc 0;
}


.hobbies .lista_de_hobbies img{
    width: 24px;
    height: 24px;
   
     
}


 
section.module.parallax-2::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: linear-gradient(to bottom, rgba(223, 23, 23, 0) 0, rgba(0,0,0,0) 80%, #000);
    
}